:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #fff;
  --text-color: #757575;

  /* Font family */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 500;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 215px;
  margin-right: 1240px;
  color: var(--accent-color);
}

.studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 1240px;
  color: var(--title-color);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover {
  color: #2196f3;
}
.nav-menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-menu-link:hover {
  color: #2196f3;
}

h2 {
  color: var(--title-color);
}
p {
  color: var(--text-color);
}

/* MAIN */

.main {
  width: 1170px;
  height: 98px;
}
.main-list-item {
  width: 270px;
  height: 98px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
}

.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.main-list-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 97px;
  text-transform: uppercase;
}
/* EFFECTIVE SECTION  */
.effective {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}

.effective-title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 214px;
  padding-left: 497px;
  padding-right: 400px;
  color: var(--button-text-color);
}

.button {
  width: 216px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 139px;
  margin-left: 692px;
  background-color: var(--accent-color);
}

/* GALLERY */
.gallery-team {
  width: 1600px;
  height: 648px;
}
.galery-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-top: 139px;
}
.gallery-team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 59px;
  color: var(--title-color);
}

.gallery-team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  margin-top: 59px;
  margin-bottom: 202px;
}

.gallery-team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
}

.gallery-team-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.gallery-list-item {
  margin-right: 30px;
}
/* FOOTER */
.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer-studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 1240px;
  color: var(--button-text-color);
}

.footer-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
}
.footer-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: black;
}
/* POTFOLIO */
.potfolio-button-1 {
  width: 73px;
  height: 38px;
  border-radius: 4px;
}

.potfolio-button-1:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.potfolio-button-2 {
  width: 125px;
  height: 38px;
  border-radius: 4px;
}

.potfolio-button-2:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.potfolio-button-3 {
  width: 112px;
  height: 38px;
  border-radius: 4px;
}

.potfolio-button-3:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.potfolio-button-4 {
  width: 103px;
  height: 38px;
  border-radius: 4px;
}

.potfolio-button-4:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.potfolio-button-5 {
  width: 130px;
  height: 38px;
  border-radius: 4px;
}

.potfolio-button-5:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 64px;
  margin-left: 515px;
  margin-right: 515px;
}

.potfolio-gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-left: 215px;
  margin-right: 215px;
}
/* POTFOLIO GALLERY */
.potfolio-gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.potfolio-gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
